<h1>Cadastre o seu Livro: </h1>
<form action="books/insertbook" method="POST" class="form">

    <div class="form-control">
        <label for="title">Titulo: </label>
        <input type="text" name="title" placeholder="Insira o titulo">
    </div>

    <div class="form-control">
        <label for="pagesqty">Quantidade de páginas: </label>
        <input type="number" name="pagesqty" placeholder="Insira o numero de paginas">
    </div>

    <input type="submit" value="enviar">
</form>