<div class="container">
        <h1>Detalhes do Usuário</h1>

        <div class="user-details">
            <div class="user-info">
                <strong>Nome:</strong> <span id="user-name">{{user.name}}</span><br>
                <strong>Ocupação: </strong> <span id="user-occupation">{{user.ocuppation}}</span>
            </div>

            <div class="user-actions">
                <button class="btn btn-editar">Editar</button>
                <button class="btn btn-excluir">Excluir</button>
            </div>
        </div>
    </div>