.footer {
    height: 250px;
    display: flex;
      /* alinhar na vertical */
    align-items: center;
     /* alinhar na horizontal */
    justify-content: center; 
    background-color: #EEE;
    color: #444;
    border-top: 1px solid #666;

}